body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(digital-6228020.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@font-face {
    font-family: 'Circuitra';
    src: url('fonts/Circuitra.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

header h1 {
    margin: 0;
    font-family: 'Circuitra', sans-serif;
    font-size: 2em;
    color:#0f76d6;

}
   nav.The_menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    width: 400px;
    height: 50px;
    background: #222;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
nav.The_menu ul li a:hover{
    color:#fff;
}
nav.The_menu ul li a{
     font-weight: bold;
    font-size: 1.1em;
}
   
nav.The_menu ul li{
    position: relative;
    z-index: 2;
}
   nav a{
    position:relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 0px 23px;
    z-index: 1;
   }
   nav span{
    position: absolute;
    top:0;
    left:0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,#002F63, #B572E8);
    border-radius: 8px;
    transition: all 0.7s ease;
    
   }
   nav.The_menu ul li:nth-child(1):hover~span{
  
    left: 0;
    }
    nav.The_menu ul li:nth-child(2):hover~span{

     left: 95px;
    }

    nav.The_menu ul li:nth-child(3):hover~span{

left: 190px;
width:110px;
    }

    nav.The_menu ul li:nth-child(4):hover~span{

left: 289px;
width:115px;
}
article.bg2 a{
    text-decoration: none;
    color:#4169e1;
    font-weight: bold;
}
article.bg2 a:hover{
    color:#f0f8ff;
}
@font-face {
    font-family: 'cmunbi' ;
    src: url(fonts/cmunbi.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
article.bg2{
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-family: 'cmunbi', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
}
article.bg3{
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-family: 'cmunbi', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
}
article.bg4{
    background: rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    font-family: 'cmunbi', sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
}
article.bg1 h2{
    font-family: 'cmunbi', sans-serif;
    font-size: 3em;
    color:rgb(16, 99, 181);
    margin-top: 0;
}
article.bg2 p{
    text-align: justify;
}
article.bg2 p{
    text-align: justify;
}

article.bg1 p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}
article.bg1 p strong:hover{
    color: #ffffe0;
}
article.bg1 h2:hover{
    color: #ffffe0;
}
article.bg2 h2:hover{
    color: #ffffe0;
}
article.bg3 h2:hover{
    color: #ffffe0
}
article.bg4 h2:hover{
    color: #ffffe0;
}
article.bg4{
    background-image: url(game-console-6603120.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
}