*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cmunbi', sans-serif;
}
@font-face {
    font-family: 'Circuitra';
    src: url('fonts/Circuitra.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cmunbi' ;
    src: url('fonts/cmunbi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(waves-7111758.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    padding:20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    align-items: center;
    display: flex;
}
nav.The_menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 400px;
    height:50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    background-color: #222 ;
}
   nav.The_menu ul li a:hover{
    color:#fff;

   }
   nav.The_menu ul li a{
    font-weight: bold;
    font-size:1.1em ;
   }
nav a{
    position:relative;
    display:inline-block;
    font-size:1em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
}
nav span{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 95px;
    background: linear-gradient(45deg,#002F63, #B572E8);
    border-radius: 8px;
    transition: all 0.7s ease;
   }

nav.The_menu ul li:nth-child(1):hover~span{
    left:0;
}
nav.The_menu ul li:nth-child(2):hover~span{
    left:95px;
}
nav.The_menu ul li:nth-child(3):hover~span{
    left:190px;
    width: 110px;
}
nav.The_menu ul li:nth-child(4):hover~span{
    left:285px;
    width: 115px;
}
nav.The_menu ul li{
    position: relative;
    z-index: 2;
}


.info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(3d-network-particle-flow-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}
.board{
    width:400px ;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:white;
}
.info h3{
    font-size: 36px;
    text-align: center;
}
.info .imput-box{
    position: relative;
    height:50px;
    width: 100%;
    margin: 30px 0;
}
.imput-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255, 255, 255, 0.697);
    border-radius: 40px;
    font-size: 16px;
    color: blue;
    padding: 20px 45px 20px 20px;
}
.imput-box input::placeholder{
    color: rgb(230, 0, 255);
    -webkit-text-stroke: 1px rgb(13, 37, 125);
    
}
.imput-box i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}
.board .btn{
    width: 100%;
    height: 45px;
    border:none;
    outline:none;
    background: rgb(80, 80, 234);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    font-size: 18px;
    color:white;
    cursor: pointer;
    font-weight: 600;
    font-size:10px;
}
.btn:hover .stars{
    display: block;
    filter: drop-shadow(0 0 10px lightblue);
}
